{{ form_start(form) }}

{{ form_errors(form) }}

<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { 'attr': { 'class': 'form-control '}}) }}
</div>

<div class="form-group">
    {{ form_label(form.comment) }}
    {{ form_widget(form.comment, { 'attr': { 'class': 'form-control '}}) }}
</div>

{% if form.file is defined %}

    <div class="form-group">
        {{ form_label(form.file) }}
        {{ form_widget(form.file, { 'attr': { 'class': 'form-control '}}) }}
    </div>

{% endif %}

<div class="form-group">
    {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-success' }}) }}
</div>

{{ form_rest(form) }}