{% extends 'AGLasVegasBundle::base.html.twig' %}

{% block lasvegasbundle_body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <a href="{{ path('ag_album_show', { 'id': photo.album.id }) }}"><i class="fa fa-arrow-left pull-left"></i></a>
                {{ photo.album.name }}
            </h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <img class="img-responsive img-shadow" src="{{ asset(photo.webpath) }}" alt="album-{{ photo.album.id }}-photo-{{ photo.id }}"/>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading" style="word-wrap: break-word;">
                    {{ photo.name }}
                </div>
                <div class="panel-body">
                    <p>
                        <i>
                            {% if photo.comment is not null %}
                                {{ photo.comment }}
                            {% else %}
                                Aucun commentaire
                            {% endif %}
                        </i>
                    </p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-right">
                        <small><em>ajouté par</em> {{ photo.author.firstName }} {{ photo.author.lastName }}
                        <br/><em>le {{ photo.updatedAt|date('d') ~ ' ' ~ photo.updatedAt|date('M')|trans({}, 'months') ~ ' ' ~ photo.updatedAt|date('Y \\à H:i:s') }}</em>
                        <br/>prise le
                        {% if photo.takenAt != 0 %}
                            {% set newDate = (photo.takenAt / 1000)|round(0, 'floor') %}
                            {{ newDate|date('d') ~ ' ' ~ newDate|date('M')|trans({}, 'months') ~ ' ' ~ newDate|date('Y \\à H:i:s') }}
                        {% else %}
                            27 {{ 'Apr'|trans({}, 'months') }} 2015 à 00:00:00
                        {% endif %}
                        </small>
                    </li>
                </ul>
                {% if is_granted('ROLE_ADMIN') and app.user == photo.author %}
                <div class="panel-footer text-right">
                    <a class="btn btn-xs btn-warning" href="{{ path('ag_photo_edit', { 'id': photo.id }) }}"><span class="glyphicon glyphicon-edit"></span> Editer</a>
                    <a class="btn btn-xs btn-danger" href="{{ path('ag_photo_remove', { 'id': photo.id }) }}"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
